.red{
    background-color: red;
    height: 50px;
    width: 20%;
    display: inline-block;
}
.yellow{
    background-color: yellow;
    height: 50px;
    width: 20%;
    display: inline-block;
    position: relative;
    right: 50px;
}
.blue{
background-color: blue;
height: 50px;
    width: 20%;
    display: inline-block;
}